<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.dao.InitMapper">
  <resultMap id="BaseResultMap" type="com.template.bean.Init">
    <id column="init_id" jdbcType="INTEGER" property="initId" />
    <result column="init_content" jdbcType="VARCHAR" property="initContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    init_id, init_content
  </sql>
  <select id="selectByExample" parameterType="com.template.bean.InitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from init
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from init
    where init_id = #{initId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from init
    where init_id = #{initId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.template.bean.InitExample">
    delete from init
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.template.bean.Init">
    insert into init (init_id, init_content)
    values (#{initId,jdbcType=INTEGER}, #{initContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.template.bean.Init">
    insert into init
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="initId != null">
        init_id,
      </if>
      <if test="initContent != null">
        init_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="initId != null">
        #{initId,jdbcType=INTEGER},
      </if>
      <if test="initContent != null">
        #{initContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.template.bean.InitExample" resultType="java.lang.Long">
    select count(*) from init
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update init
    <set>
      <if test="record.initId != null">
        init_id = #{record.initId,jdbcType=INTEGER},
      </if>
      <if test="record.initContent != null">
        init_content = #{record.initContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update init
    set init_id = #{record.initId,jdbcType=INTEGER},
      init_content = #{record.initContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.template.bean.Init">
    update init
    <set>
      <if test="initContent != null">
        init_content = #{initContent,jdbcType=VARCHAR},
      </if>
    </set>
    where init_id = #{initId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.template.bean.Init">
    update init
    set init_content = #{initContent,jdbcType=VARCHAR}
    where init_id = #{initId,jdbcType=INTEGER}
  </update>
</mapper>